@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos generales para la scrollbar */
::-webkit-scrollbar {
    width: 5px;
    /* Ancho de la scrollbar */
}

/* Fondo de la scrollbar */
::-webkit-scrollbar-track {
    /* Color de fondo oscuro */
    background-color: #cbd5e1;
    border-radius: 10px;
    /* Redondear las esquinas */
}

/* Color del thumb de la scrollbar (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background-color: #027ba7;
    /* Color oscuro */
    border-radius: 10px;
    /* Redondear las esquinas */

    /* Espacio alrededor del thumb */
}

/* Color del thumb cuando se está activamente usando */
::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    /* Un color un poco más claro cuando se pasa el ratón */
}